@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

body{
    font-family: "Inter", sans-serif;
    margin: 0;
    background-color: rgb(22, 25, 29);
}

*, *::before, *::after{
    box-sizing: border-box;
}

.leftBar{
    width: 600px;
}

#current{
    position: relative;
    margin-bottom: 10px;
    border-radius: 15px;
    width: 100%;
    /* background-color: rgb(92, 130, 155); */
    color: #fff;
    text-align: right;
    box-shadow: 0px 13px 12px #0007;
    overflow: hidden;
    background-position: center;
    background-size: cover;
    border: 1px outset #0008;
}

#currentMap{
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#currentMap .mapboxgl-control-container{
    display: none;
}

.gradient{
    z-index: 1000;
    padding: 10px;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to right, #0e0e0e38 40%, #0e0e0edd 90%);
    /* backdrop-filter: blur(2px); */
}

#currentTemp{
    font-size: 3em;
    font-weight: 900;
}

main{
    min-height: 90vh;
    display: flex;
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 95vw;
    max-width: 800px;
    margin: 10px auto;
}

#forecastSlider{
    box-shadow: 0px 13px 12px #0007;
    display: flex;
    flex-direction: row;
    border-radius: 15px;
    width: 100%;
    overflow-x: scroll;
    border: 1px outset #0008;
    scroll-snap-type: x mandatory;
}

.forecastDay{
    scroll-snap-align: center;
    display: flex;
    background-color: rgb(34, 55, 50);
    width: 95vw;
    max-width: 800px;
    background-position: center;
    background-size: cover;
    border-radius: 15px;
}

#forecastSlider::-webkit-scrollbar{
    display: none;
}

.forecastTemps > h1{
    margin: 0;
    font-weight: 900;
    font-size: 3em;
}

#time{
    color: #fff;
    text-align: center;
    margin: 10px 0;
}

#time > h1{
    font-size: 2.3em;
    margin: 0;
}

.dayContent{
    width: 95vw;
    max-width: 800px;
    height: 100%;
    padding: 10px;
    display: flex;
    color: #fff;
    text-align: right;
    align-items: flex-end;
    flex-direction: column;
    background-image: linear-gradient(to right, #0e0e0e99 10%, #0e0e0edd 90%);
}

.hours{
    display: flex;
    flex-direction: row;
    height: 100%;
    align-items: flex-end;
    overflow-x: auto;
    padding: 0;
    margin: 0 auto;
    max-width: 100%;
}

.hour{
    border-right: 1px solid #0002;
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: 0 5px;
    align-items: center;
    margin: 10px 0;
}

.hour:last-of-type{
    border-right: 0;
}

.hour img{
    filter: invert(1);
    width: 50px;
    aspect-ratio: 1 / 1;
}

.navButtons{
    margin-top: 15px;
    background-color: #000;
    padding: 10px;
    border-radius: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    color: #fff;
}

.navButtons span{
    cursor: pointer;
    user-select: none;
}

#navButtons{
    display: flex;
    flex-direction: row;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
}

.navButtons input{
    /* margin-top: 0;
    margin-bottom: 0; */
    all: unset;
    display: flex;
    width: .6em;
    height: .6em;
    background-color: #fff;
    border-radius: 100%;
    border: .2em solid rgba(0, 0, 0, 0);
    cursor: pointer;
}

.navButtons input:checked{
    outline: .2em solid #fff;
    background-color: rgb(34, 55, 50);
}

*::-webkit-scrollbar{
    width: 5px;
    height: 5px;
}

*::-webkit-scrollbar-track{
    background-color: #0003;
    border-radius: 5px;
    border: 1px outset #0001;
}

*::-webkit-scrollbar-thumb{
    background-color: #fff;
    border-radius: 5px;
}

#setCityModalBG{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #0009;
    backdrop-filter: blur(3px);
    z-index: 100;
    display: none;
    justify-content: center;
    align-items: center;
}

.setCityModal{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(22, 25, 29);
    color: #fff;
    padding: 1em;
    border-radius: 5px;
    width: min-content;
    text-align: center;
    margin-bottom: 10vh;
    box-shadow: 0 3px 15px #000;
}
.setCityModal h1{
    margin: .5em .1em;
    font-size: 1.6em;
    font-weight: 400;
}

.locationSelector{
    border-radius: 5px;
    overflow: hidden;
}

.setCityModal .inputs{
    display: flex;
    flex-direction: row;
}

.setCityModal input{
    padding: .5em 1em;
    outline: 0;
    border: 0;
}

#locChangeMap{
    outline: 0;
    height: 200px;
}